@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img src="~/imagens/bola.jpeg" alt="Bola de Futebol com Bandeiras de Todos os Países" class="img-fluid" />

</div>

<h2>Statistics</h2>

<table class="table  text-center mx-auto">
    <thead>
        <tr>
            <th>Club Name</th>
            <th>Points</th>
            <th>Goals Scored</th>
            <th>Goals Conceded</th>
            <th>Yellow Cards</th>
            <th>Red Cards</th>
            <th>Games Played</th>
            <th>Games ToPlay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stat in Model)
        {
            <tr>
                <td class="align-middle">
                    <a href="@Url.Action("Details", "Clubs", new { id = stat.Club.Id })">
                        @stat.Club.Name
                    </a> 
                </td>
                <td>@stat.Points</td>
                <td>@stat.GoalsScored</td>
                <td>@stat.GoalsConceded</td>
                <td>@stat.YellowCards</td>
                <td>@stat.RedCards</td>
                <td>@stat.GamesPlayed</td>
                <td>@stat.GamesToPlay</td>
            </tr>
        }
    </tbody>
</table>




